*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
    font-family: $font_default;
  
    @include respondFont(tab-land) {
      // width < 1200?
      font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }
  
    @include respondFont(tab-port) {
      // width < 900?
      font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
  
    @include respond(big-desktop) {
      font-size: 75%; //1rem = 12, 12/16
    }
}

body {
    box-sizing: border-box;
    letter-spacing: 0.2rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}
  
img {
  width: 100%;
  object-fit: cover;
  transition: 650ms all ease-in-out;
}

a{
  text-decoration: none;  
}

.container{
  width: 90%;
  margin: auto;
}

h1{
  font-size: 3rem;
  color: $very_Dark_Blue;
  @include respond(tab-land) {
    font-size: 4rem;
  }
}

p{
  color: $grayish_blue;
  font-size: 1.8rem;
  line-height: 3.2rem;
  @include respond(tab-port) {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}