$white: #fff;
$white-opacity: rgba(250, 250, 250, 0.966);
$black: #000;
//  Primary
$soft_blue: hsl(231, 69%, 60%);
$soft_red: hsl(0, 94%, 66%);
// Neutral
$grayish_blue: hsl(229, 8%, 60%);
$grayish_blue-opacity: hsla(229, 8%, 60%, 0.336);
$very_Dark_Blue: hsl(229, 31%, 21%);
$very_Dark_Blue-light: hsla(229, 31%, 21%, 0.918);

$font_default: 'Rubik', sans-serif;