.footer{
    background: $very_Dark_Blue;
    display: flex;
    justify-content: center;
    &__attribution{
        color: $white;
        font-size: 1rem;
        a{
            color: $soft_red;
        }
    }
}